@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;

}

body {
  background: url(images/contact-us.pg.jpg) no-repeat center center/cover;
}

.section-1 {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
header{
    display: flex;
    justify-content: space-around;
    margin: auto;
}
hr{
    color: #2F3C7E;
    background-color: #2F3C7E;
    height: 0.9px;
    /* justify-content: center; */
    /* align-items: center; */
    /* width: 95%; */
    padding: top 1.25rem;
    margin: 0;
    margin-right: 1.25rem;
    margin-left: 1.25rem;
}
header .links{
    color: #B2B2B3;
    display: flex;
    justify-content: space-around;
    width: 33%;
    margin: auto;
    padding:.4rem 0.4rem 0 0.4rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}
a{
    color: #B2B2B3;
}
header .links :hover{
    margin-bottom: 0;
    padding-bottom: 0;
    color: #525D93;
    text-decoration: 2.5px underline #2F3C7E;
    /* border: 0 0 1px 0 solid #2F3C7E; */
}
#sign-in:hover{
    color: #ffffff;
    background-color: #2F3C7E;
    border-radius: 1rem;
    border-color: #747DA9;
    /* padding: .7rem 2rem; */
    cursor: pointer;
    text-decoration: none;
}

header button{
    color:#747DA9;
    background-color: #ffffff;
    border-radius: 1rem;
    border-color: #747DA9;
    padding: 0.4rem 0.4rem 0.4rem 0.4rem;
    margin: 0 0.9rem 0 0.9rem;
}
a{
    text-decoration: none;
}
a :hover{
    color: #2F3C7E;
    text-decoration: underline;
}

.header{
    min-height: 100vh;
    width: 100%;
    /* border: 1px solid #2F3C7E; */
}
nav{
    display: flex;
    padding: 0.5% 6%;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid #2F3C7E; */
}



/* header{
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding: 0rem 4rem;
  background-color: #fff;
}
header img{
  max-height:3.4rem;
}
header .links{
  display: flex;
  justify-content: space-around;
  width: 30%;
  margin: auto;
  padding-left: 8rem;
}
p{
  color: #262626;
}
a{
  color: #273269;
  text-decoration: none;
}
a :hover{
  color: #2F3C7E;
  text-decoration: underline;
}
header .links :hover{
  color: #525D93;
  text-decoration: underline;
}
header button{
  color: #ffffff;
  background-color: #2F3C7E;
  border-radius: 1rem;
  border-color: #747DA9;
  padding: .7rem 2rem;
}
#sign-in{
  color:#747DA9;
  background-color: #ffffff;
  border-radius: 1rem;
  border-color: #747DA9;
  padding: .7rem 2rem;
} */
.contact-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info {
  color: #fff;
  max-width: 500px;
  line-height: 65px;
  padding: 50px;
  font-size: 18px;
}

.contact-form {
  max-width: 700px;
  font-size: 50px;
}

.contact-info i {
  margin: 20px;
  font-size: 25px;
}

.contact-info .contact-form {
  flex: 1;
}

.contact-form h2 {
  color: #fff;
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.contact-form .text-box {
  background: #fff;
  color: #000;
  border: none;
  width: calc(50% - 10px);
  height: 50px;
  padding: 12px;
  font-size: 15px;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 1);
  margin-bottom: 20px;
  opacity: 0.9;
}

.contact-form .textarea :first-child {
  margin-right: 15px;
}

.contact-form textarea {
  background: #fff;
  color: #000;
  border: none;
  width: 100%;
  padding: 12px;
  font-size: 15px;
  min-height: 200px;
  max-height: 400px;
  resize: vertical;
  border-radius: 5px;
  margin-bottom: 20px;
  opacity: 0.9;
}

.contact-form .send-btn {
  float: right;
  background: #fff;
  color: #000;
  border: none;
  width: 120px;
  height: 40px;
  font-size: 15px;
  font-family: 600;
  text-transform: uppercase;
  letter-spacing: 5px;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}

@media screen and (max-width: 950px) {
  .contact-section {
    flex-direction: column;
  }
  .header{
    flex-direction: column;
  }
  .contact-info,  .contact-form {
    margin: 30px 50px;
  }

  .contact-form h2 {
    font-size: 30px;
  }

  .contact-form .text-box {
    width: 100%;
  }
}
footer{
  background-color: #D5D8E5;
  padding: 3rem 4rem;
}
footer .ftr-top{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
footer .ftr-rt{
  display: flex;
  justify-content: space-around;
}
footer h4{
  color: #2F3C7E;
}
footer p{
  color: #525D93;
}
footer .copyright{
  font-size: 14px;
}
