@import url('https://fonts.googleapis.com/css2?family=Inter:ital@1&display=swap');

        
    body{
        padding: 0;
        margin: 0;
        background-color: white;
        font-family: 'Inter', sans-serif;
        box-sizing: border-box;
        /* justify-content: center; */
    background-image: url(/Images/background.svg);
    }
    
    .welcome-back-form{
        box-shadow: 5px 10px 5px 10px rgba(0, 0, 0, 0.25);
    width: 370px;
   background: #fff;
   padding: 20px;
    margin: 8% auto 0;
    text-align: left;
    border: none;
    border-radius: 10px;}

    .welcome{
    text-align: left;
    align-items: left;
    padding-left: 4px;
    padding-right: 100px;}

    h1{
    padding-bottom: 7px;
    margin-bottom: 6px;
    font-weight: bolder;
    font-size: 28px;
}
.ptag{
    margin-top: -10px;
    font-size: smaller;
    font: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
}


#email{
    padding-bottom: 5px;
   
}
 #box1{    
    align-items: left;
    max-width: 85%;
    width: 85%;
    border-radius: 5px;
    margin-top: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 30px;
    text-align: left;
    padding: 10px;
    padding-left: 36px;
    height: 25px;
    padding-right: 10px;
    border: 1px solid silver;
}
.email::before{
    position: absolute;    
    content:url(/Images/lock.svg) ;
    width: 20px;
    height: 20px;
    margin: 37px 305px 1px 10px;
    color: white;
}
.password::before{
    position: absolute;   
    content:url(/Images/lock.svg) ;
    width: 20px;
    height: 20px;
    margin: 37px 307px 1px 10px;
    color: white;
    padding-right: 7px;
}
::placeholder{
    padding-left: 1px;
    font-size: 17px;
}

#box2{
    font-size: 17px;
    align-items: left;
    max-width: 85%;
    width: 85%;
    border-radius: 5px;
    margin-top: 7px;
    padding-top: 2px;
    text-align: left;
    padding: 10px;
    padding-left: 36px;
    margin-left: 0;
    height: 25px;
    border: 1px solid silver;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.sign{
    max-width: 100%;
    width: 100%;
    background-color: #040f4ec9;  
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}
.sign a{
    color: white;
}

button{
    margin: 80px 90px 90px 1px;
    border-radius: px;
}
.but{
    border-radius: 16px;
}
button:hover{
    background-color: blue;
}
button:active{
    background-color: rgb(23, 23, 133);
}
img{
    position: absolute; padding: 7px 0px; margin: 0px 0 0 -49px;
    width: 40px;
    height: 40px;
}
@media(max-width:670px){
    .welcome-back-form{
        width: 80%;
    }
    /* .forgotpass{
    margin-top: 0;
    padding-top: 10px;
    padding: 3px;
        margin: 0 0 25px 215px;
    } */
  
}
   
        
 @media(max-width:440px){
     .welcome-back-form{
        width: 50%;
     }
        }