
@import url('https://fonts.googleapis.com/css2?family=Inter:ital@1&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
        
.signin-page{
        
        background-color: white;
        font-family: Inter;
        margin: auto;
        justify-content: center;
    }
    
.welcome-back-form{
    width: 370px;
   box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
   background: #fff;
   padding: 20px;
    margin: 8% auto 0;
    text-align: left;
    border: none;
    border-radius: 10px;}
    .welcome{
    text-align: left;
    align-items: left;
    padding-left: 4px;
    padding-right: 100px;}
    h1{
    padding-bottom: 7px;
    margin-bottom: 6px;
    font-weight: 700;
    font-size: 25px;

}
.ptag{
    margin-top: -10px;
    margin-bottom: 30px;
    font-size: smaller;
    font: 10px;
}
.uil-google{
    color: black;
}
    .or{
    margin: -19px auto 10px ;
    width: 20px;
    padding: 0;
    padding-left: 4px;
    background: white;
}

.password label{
    letter-spacing: px;
}


input{

    font-size: 16px;
    line-height: 30px;
    display: block;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    padding: 5px;
    outline: none;
}
 .box1{
    align-items: center;
    justify-content: center;
    max-width: 100%;
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.sign{
    max-width: 100%;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: .5px;
    border-radius: 5px;
    background-color: #040f4ec9;
    color: white;
    padding: 10px;
   margin-top: .5px;
    cursor: pointer;
}
.sign a{
    color: white;
}
.new{
    padding: 5px auto;
    text-align: center;
    padding: 0;
    margin: 5px 50px 10px 50px;
}



/*==============================
Forget password page pass error
==============================*/
.inputWrap #pass_error
{
    right: 17px;
    font-size: 14px;
    color: #c62828;
}


/*==============================
Forget password email reset page 
==============================*/
.inputWrap #error_msg
{
    right: 17px;
    font-size: 14px;
    color: #c62828;
    
}

@media (max-width:520px){
    .welcome-back-form{
        width: 80%;
    }
    .forgotpass{
    margin-top: 0;
    padding-top: 10px;
    padding: 3px;
        margin: 0 0 25px 215px;
    }
  
    
   
}