body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header{
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding: 0rem 4rem;
}
header img{
  max-height:3.4rem;
}
header .links{
  display: flex;
  justify-content: space-around;
  width: 30%;
  margin: auto;
  padding-left: 8rem;
}
p{
  color: #262626;
}
a{
  color: #273269;
  text-decoration: none;
}
a :hover{
  color: #2F3C7E;
  text-decoration: underline;
}
header .links :hover{
  color: #525D93;
  text-decoration: underline;
}
header button{
  color: #ffffff;
  background-color: #2F3C7E;
  border-radius: 1rem;
  border-color: #747DA9;
  padding: .7rem 2rem;
}
#sign-in{
  color:#747DA9;
  background-color: #ffffff;
  border-radius: 1rem;
  border-color: #747DA9;
  padding: .7rem 2rem;
}
/*this is use to show signin button for popup*/

#show:checked~ .welcome-back-form{
  display: block;
}

.section1{
  background-image: url("Images/Frame 5746.png");
  text-align: center;
  padding: 1.5rem 20rem 4rem;
  justify-content: center;
}
.section1 h1{
  color: #273269;
  font-size: 2.5rem;
}
.section1 button{
  color: #ffffff;
  background-color: #2F3C7E;
  border-radius: 1rem;
  border-color: #747DA9;
  padding: .7rem 2rem;
  margin: 1rem;
}
.section1 button:hover{
  cursor: pointer;

}
.brands{
  background-color: #D1D1D133;
  display: flex;
  justify-content: space-around;
  margin: auto;
  height: 5rem;
  padding: 0rem 3rem;
}
.section2{
  padding: 1rem 3rem 3rem;
}
.section2 .whatWeOffer{
  color: #747DA9;
  margin: 2rem 0rem 0rem;
}
.section2 #Favipro{
  color: #2F3C7E;
}
.section2 p{
  font-size:1.5rem;
}
.whyFavipro{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.whyFavipro div{
  border: 1px solid #747DA9;
  border-radius: 1rem;
  margin-right: 1rem;
  padding: 1rem;
}
.whyFavipro h6{
  color: #2F3C7E;
  font-size: 24px;
  margin: 2.5rem 0rem;
}
.whyFavipro p{
  color: #1A1A1A;
  font-size: 20px;
}
.whyFavipro a{
  color: #525D93;
  font-size: 16px;
}
.section3{
  background-color:#FAFAFA;
  padding: 0rem 2.5rem 3rem;
  margin-bottom: 4rem;
}
.section3 .top{
  text-align: center;
}
.section3 h4{
  color: #2F3C7E;
  font-size: 40px;
  margin-bottom: 0.6rem;
}
.section3 h6{
  color: #1A1A1A;
  font-size: 24px;
  margin: .6rem 0rem;
}
.section3 p{
  margin-top: 0.35rem;
  color: #1A1A1A;
  font-size: 20px;
}
.section3 .btm{
  margin: 0.2rem 6.3rem;
}
.section3 .rectangle{
  display: flex;
  align-items: center;
  box-shadow: 0px 6px 9px rgb(233, 229, 229);
  border-radius: 0.3rem;
  padding: .8rem;
}
.section3 .num{
  color: #747DA9;
  border: 1px solid #747DA9;
  border-radius: 50%;
  padding: .2rem;
  margin: 0rem 1rem;
}
.section4{
  margin: 1rem 4rem;
  padding: 1rem 2.5rem;
  border-radius: 1rem;
  background-color: #D5D8E5;
}
.section4 h5{
  color: #2F3C7E;
}
.section4 .comments{
  display: flex;
}
.section4 #Favipro{
  color: #2F3C7E;
}
.section4 p{
  font-size:1.5rem;
}
.section4 .comments{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.section4 .comments div{
  background-color: #FFFFFF;
  margin-right: 1rem;
  padding: 1rem;
}
.section4 .comments h6{
  color: #333333;
  font-size: 18px;
}
.section4 .comments #role{
  font-size: 16px;
  color: #666667;
}
.section5{
  display: flex;
  align-items: center;
  background-color: #2F3C7E;
  margin: 4rem;
  padding: 2rem;
  border-radius: 1rem;
}
.section5 img{
  background-color: #EAEBF2;
  padding: 5rem 1rem;
  margin-right: 2rem;
}
.section5 h4{
  font-size: 40px;
  color: #FFFFFF;
  margin: 1rem 0rem;
}
.section5 p{
  color: #FEFBFB;
  font-size: 20px;
}
.section5 button{
  color: #2F3C7E;
  padding: .5rem 1.5rem;
  border: none;
  border-radius: .5rem;
}
footer{
  background-color: #D5D8E5;
  padding: 3rem 4rem;
}
footer .ftr-top{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
footer .ftr-rt{
  display: flex;
  justify-content: space-around;
}
footer h4{
  color: #2F3C7E;
}
footer p{
  color: #525D93;
}
footer .copyright{
  font-size: 14px;
}













@import url('https://fonts.googleapis.com/css2?family=Inter:ital@1&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
        
.signin-page{
        
        background-color: white;
        font-family: Inter;
        margin: auto;
        justify-content: center;
    }
    
.welcome-back-form{
    display: none;
    width: 370px;
   box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
   background: #fff;
   padding: 20px;
    margin: 8% auto 0;
    text-align: left;
    border: none;
    border-radius: 10px;}
    .welcome{
    text-align: left;
    align-items: left;
    padding-left: 4px;
    padding-right: 100px;}
    h1{
        margin-top: 20px;
    padding-bottom: 7px;
    margin-bottom: 6px;
    font-weight: 700;
    font-size: 25px;

}

   
.welcome-back-form .fa{
    position: absolute;
    right: 500px;
    top: 130px;
    font-size: 18px;
    cursor: pointer;
}

   
.welcome-back-form .fa:hover{
    color: #3498db;
}
.ptag{
    margin-top: -10px;
    margin-bottom: 30px;
    font-size: smaller;
    font: 10px;
}
.uil-google{
    color: black;
}
    .or{
    margin: -19px auto 10px ;
    width: 20px;
    padding: 0;
    padding-left: 4px;
    background: white;
}

.password label{
    letter-spacing: px;
}

input{

    font-size: 16px;
    line-height: 30px;
    display: block;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: -10px;
    outline: none;
}
 .box1{
    align-items: center;
    justify-content: center;
    max-width: 90%;
    width: 90%;
    display: flex;
    padding: 10px;
}

.forgotpass{
    margin-top: 25px;
    margin-bottom: 30px;
    text-align: end;
}
.forgotpass a{
    font-size: 15px;
    
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.sign{
    max-width: 100%;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: .5px;
    border-radius: 5px;
    background-color: #040f4ec9;
    color: white;
    padding: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}
.sign a{
    color: white;
}
.new{
    padding: 5px auto;
    text-align: center;
    padding: 0;
    margin: 5px 50px 10px 50px;
}


/*==============================
Styling the email and password 
error meesage
==============================*/
.input-group span

{
    position: absolute;
    bottom: 50px;
    right: 17px;
    font-size: 14px;
    color: #c62828;
    display: none;
   
   
   
}

.input-group span i{
    color:seagreen
}

.input-group #submit_error{
    bottom: 60px;
   left: 0;
    font-size: 14px;
    color: #c62828;
    display: none;
}

@media (max-width:520px){
    .welcome-back-form{
        width: 80%;
    }
    .forgotpass{
    margin-top: 0;
    padding-top: 10px;
    padding: 3px;
        margin: 0 0 25px 215px;
    }
  
    
   
}
