body{
  font-family: 'Inter';
}
header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}
header img{
  max-width: 8.45rem;
}
header .links{
  display: flex;
  justify-content: space-around;
  width: 29%;
}
header .links a{
  color: #1A1A1A;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: right;
}
header .links :hover{
  color: #2F3C7E;
  text-decoration: underline solid #2F3C7E 3px;
  text-underline-offset: 1.72rem;
  font-weight: 500;
}
p{
  color: #262626;
}
a{
  color: #1f295c;
  text-decoration: none;
}
header button{
  color: #ffffff;
  background-color: #2F3C7E;
  height: 42px;
  width: 92px;
  top: 20px;
  border-radius: 8px;
  border: 1px solid #2F3C7E;
  padding: 12px, 24px;
  margin-left: 10px;
}
header button:hover{
  cursor: pointer;
}
hr{
  margin-bottom: 0;
}
#sign-in{
  color:#747DA9;
  background-color: #ffffff;
}
.section1{
  background-image: url("Images/Frame 5746.png");
  background-size: 100%;
  text-align: center;
  padding: 4rem 22rem 4rem;
  justify-content: center;
}
.section1 h2{
  color: #273269;
  font-family: Inter;
  font-size: 50px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 1rem;
}
.section1 p{
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 22px;
margin-bottom: 0.5rem;
}
.section1 .btns {
  width: 3rem;
  margin: 0rem 0rem 0rem -2rem;
}
.section1 button{
  color: #ffffff;
  background-color: #2F3C7E;
  height: 44px;
  width: 125px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 8px;
  border: 1px solid #2F3C7E;
  padding: 12px, 24px;
  margin: -0rem 0.6rem 0rem ;
}
.section1 button:hover{
  cursor: pointer;
}
.section1 .tick{
  margin-inline: 1rem .3rem;
  width: 1rem;
}
.brands{
  background-color: #D1D1D133;
  display: flex;
  justify-content: space-around;
  margin: none;
  height: 5rem;
  padding: 2rem 5rem;
}
.section2{
  padding: 3rem 4.3rem 2rem 6.3rem;
}
.section2 .whatWeOffer{
  color: #1A1A1A;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 20px;
}
.section2 #Favipro{
  color: #2F3C7E;
}
.section2 h4{
  font-size: 35px;
  font-weight: 600;
  margin-top: 0rem;
}
.whyFavipro{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.whyFavipro div{
  border: 2px solid #2F3C7E;
  border-radius: 1rem;
  margin-right: 1rem;
  padding: 1rem;
}
.whyFavipro img{
  width: 2.5rem;
}
.whyFavipro #img{
  width: 1.5rem;
  background-color: #ECECEC;
  padding: 10px;
  border-radius: .5rem;
}
.whyFavipro h6{
  color: #2F3C7E;
  font-size: 22px;
  font-weight: 600;
  margin: 1rem 0rem;
}
.whyFavipro p{
  color: #1A1A1A;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}
.whyFavipro a{
  color: #525D93;
  font-size: 14px;
}
.whyFavipro a img{
  width: 0.4rem;
  margin-left: .4rem;
}
.section3{
  background-color:#FAFAFA;
  padding: 0rem 2.5rem 3rem;
  margin-bottom: 4rem;
}
.section3 .top{
  text-align: center;
}
.section3 h4{
  color: #2F3C7E;
  font-size: 33px;
  font-weight: 600;
  margin-bottom: 0.6rem;
}
.section3 h6{
  color: #1A1A1A;
  font-size: 20px;
  font-weight: 600;
  margin: .6rem 0rem;
}
.section3 p{
  margin-top: 0.35rem;
  color: #1A1A1A;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.section3 .btm{
  margin: 0.2rem 10.5rem;
}
.section3 .rectangle{
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  box-shadow: 0px 6px 9px rgb(233, 229, 229);
  border-radius: 0.3rem;
  padding: .8rem;
  margin-bottom: 1rem;
}
.section3 .num{
  color:#1A1A1A;
  border: 2px solid #1A1A1A;
  font-size: 22px;
  font-weight: 600;
  border-radius: 64px;
  background-color: #F4F4F4;
  padding: 0.5rem;
  margin: 0rem 1rem;
}
.section4{
  margin: 1rem 6rem;
  padding: 1rem 2.5rem;
  border-radius: 1rem;
  background-color: #D5D8E5;
}
.section4 h5{
  color: #2F3C7E;
}
.section4 .comments{
  display: flex;
}
.section4 #Favipro{
  color: #2F3C7E;
}
.section4 p{
  font-size:1.5rem;
}
.section4 .comments{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.section4 .comments div{
  background-color: #FFFFFF;
  margin-right: 1rem;
  padding: 1rem;
}
.section4 .comments h6{
  color: #333333;
  font-size: 18px;
}
.section4 .comments #role{
  font-size: 16px;
  color: #666667;
}
.section5{
  display: flex;
  align-items: center;
  background-color: #2F3C7E;
  margin: 4rem 6rem;
  padding: 2rem;
  border-radius: 1rem;
}
.section5 img{
  background-color: #EAEBF2;
  padding: 5rem 1rem;
  margin-right: 2rem;
}
.section5 h4{
  font-size: 40px;
  color: #FFFFFF;
  margin: 1rem 0rem;
}
.section5 p{
  color: #FEFBFB;
  font-size: 20px;
}
.section5 button{
  color: #2F3C7E;
  padding: .5rem 1.5rem;
  border: none;
  border-radius: .5rem;
}
footer{
  background-color: #D5D8E5;
  padding: 3rem 4rem;
}
footer .ftr-top{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
footer .ftr-rt{
  display: flex;
  justify-content: space-around;
}
footer h4{
  color: #2F3C7E;
}
footer p{
  color: #525D93;
}
footer .copyright{
  font-size: 14px;
}