body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header{
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding: 0rem 4rem;
}
header .links{
    color: #B2B2B3;
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin: auto;
    padding-left: 8rem;
}
a{
    color: #616168;
    text-decoration: none;
}
a :hover{
    color: #2F3C7E;
    text-decoration: underline;
}
header .links :hover{
    color: #525D93;
    text-decoration: underline;
}
header button{
    color: #ffffff;
    background-color: #2F3C7E;
    border-radius: 1rem;
    border-color: #747DA9;
    padding: .7rem 2rem;
}
#sign-in{
    color:#747DA9;
    background-color: #ffffff;
    border-radius: 1rem;
    border-color: #747DA9;
    padding: .7rem 2rem;
}
.section1{
    text-align: center;
    padding: 1.5rem 20rem 4rem;
    justify-content: center;
}
.section1 h1{
    color: #525D93;
    font-size: 2.5rem;
}
.section1 button{
    color: #ffffff;
    background-color: #2F3C7E;
    border-radius: 1rem;
    border-color: #747DA9;
    padding: .7rem 2rem;
    margin: 1rem;
}
.section1 button:hover{
    cursor: pointer;

}
.brands{
    background-color: #FEF8F8;
    display: flex;
    justify-content: space-around;
    margin: auto;
    height: 5rem;
    padding: 0rem 1.5rem;
}
.section2{
    padding: 1rem 3rem;
}
.section2 .whatWeOffer{
    color: #747DA9;
    margin: 2rem 0rem 0rem;
}
.section2 #Favipro{
    color: #747DA9;
}
.section2 p{
    font-size:1.5rem;
}
.whyFavipro{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.whyFavipro div{
    border: 1px solid #747DA9;
    border-radius: 1rem;
    margin-right: 1rem;
    padding: 1rem;
}
.whyFavipro h3{
    color: #747DA9;
}