body{
  font-family: 'Inter';
}
header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}
header img{
  max-width: 8.45rem;
}
header .links{
  justify-content: space-around;
  width: 29%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

}
header .links a{
  color: #1A1A1A;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  justify-items: center;
  text-align: center;
  line-height: 70px;
}
header .links a:hover{
  color: #2F3C7E;
  text-decoration: underline solid #2F3C7E 3px;
  text-underline-offset: 1.72rem;
  font-weight: 500;
}
header .links a:active{
  background-color: #2F3C7E;
  color:#FFFFFF;
}
p{
  color: #262626;
}
a{
  color: #1f295c;
  text-decoration: none;
}
header button{
  color: #ffffff;
  background-color: #2F3C7E;
  height: 42px;
  width: 92px;
  top: 20px;
  border-radius: 8px;
  border: 1px solid #2F3C7E;
  padding: 12px, 24px;
  margin-left: 10px;
}
header button:hover{
  cursor: pointer;
}
hr{
  margin-bottom: 0;
}
#sign-in{
  color:#747DA9;
  background-color: #ffffff;
}
.section1{
  background-image: url("../Images/Frame 5746.png");
  background-size: 100%;
  text-align: center;
  padding: 4rem 22rem 4rem;
  justify-content: center;
}
.section1 h2{
  color: #273269;
  font-family: Inter;
  font-size: 50px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 1rem;
}
.section1 p{
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 22px;
margin-bottom: 0.5rem;
}
.section1 .btns {
  width: 3rem;
  margin: 0rem 0rem 0rem -2rem;
}
.section1 button{
  color: #ffffff;
  background-color: #2F3C7E;
  height: 44px;
  width: 125px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  border-radius: 8px;
  border: 1px solid #2F3C7E;
  padding: 12px, 24px;
  margin: -0rem 0.6rem 0rem ;
}
.section1 button:hover{
  cursor: pointer;
}
.section1 .tick{
  margin-inline: 1rem .3rem;
  width: 1rem;
}
.brands{
  background-color: #D1D1D133;
  display: flex;
  justify-content: space-around;
  margin: none;
  height: 5rem;
  padding: 2rem 5rem;
}
.section2{
  padding: 3rem 4.3rem 2rem 6.3rem;
}
.section2 .whatWeOffer{
  color: #1A1A1A;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 20px;
}
.section2 #Favipro{
  color: #2F3C7E;
}
.section2 h4{
  font-size: 35px;
  font-weight: 600;
  margin-top: 0rem;
}
.whyFavipro{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.whyFavipro div{
  border: 2px solid #2F3C7E;
  border-radius: 1rem;
  margin-right: 1.5rem;
  padding: 1rem;
  position: relative;
}
.whyFavipro img{
  width: 2.5rem;
}
.whyFavipro #img{
  width: 1.5rem;
  background-color: #ECECEC;
  padding: 10px;
  border-radius: .5rem;
}
.whyFavipro h6{
  color: #2F3C7E;
  font-size: 22px;
  font-weight: 600;
  margin: 1rem 0rem;
}
.whyFavipro p{
  color: #1A1A1A;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 3rem;
}
.whyFavipro a{
  color: #525D93;
  font-size: 14px;
}
.whyFavipro #getstarted{
  position: absolute;
  bottom: 1.5rem;
}
.whyFavipro a img{
  width: 0.4rem;
  margin-left: .4rem;
}
.section3{
  background-color:#FAFAFA;
  padding: 0rem 2.5rem 3rem;
  margin-bottom: 4rem;
}
.section3 .top{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5rem;
}
.section3 .top img{
  margin: 0rem 1rem -3.5rem;
  width: 1.4rem;
}
.section3 h4{
  color: #2F3C7E;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 0.6rem;
}
.section3 h6{
  color: #1A1A1A;
  font-size: 20px;
  font-weight: 600;
  margin: .6rem 0rem;
}
.section3 p{
  margin-top: 0.35rem;
  color: #1A1A1A;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.section3 .btm{
  margin: 0.2rem 10.5rem;
}
.section3 .rectangle{
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  box-shadow: 0px 6px 9px rgb(233, 229, 229);
  border-radius: 0.3rem;
  padding: .8rem;
  margin-bottom: 1rem;
}
.section3 .num{
  color:#1A1A1A;
  border: 2px solid #1A1A1A;
  font-size: 22px;
  font-weight: 600;
  border-radius: 64px;
  background-color: #F4F4F4;
  padding: 0.5rem;
  margin: 0rem 1rem;
}
.section4{
  margin: 6rem 5.3rem;
  padding: 1.5rem 1rem 4rem 3rem;
  border-radius: 1rem;
  background-color: #D5D8E5;
}
.section4 #wps{
  color: #2F3C7E;
  font-size: 17.5px;
  font-weight: 500;
}
.section4 h4{
  color: #2F3C7E;
  font-size: 35px;
  font-weight: 600;
  margin-top: 0;
}
.section4 .comnt{
font-size: 18px;
font-weight: 400;
margin-bottom: 5rem;
}
.section4 .comments{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 2rem;
}
.section4 .comments div{
  background-color: #FFFFFF;
  margin-right: 1.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  position: relative;
}
.section4 .comments img{
  width: 3.5rem;
}
.section4 .comments #user{
  position: absolute;
  bottom: 0.3rem;
}
.section4 .comments #name{
  color: #333333;
  font-size: 16px;
  font-weight: 500;
  margin: 0rem;
}
.section4 .comments #role{
  font-size: 14px;
  color: #666667;
}
.navigate{
  display: flex;
  justify-content: space-between;
  margin: 0rem 3rem 0rem 0rem;
}
.navigate .dots img{
  margin-right: 3px;
}
.navigate .point img{
  margin-left: 1.5rem;
}
.section5{
  display: flex;
  align-items: center;
  background-color: #2F3C7E;
  margin: 4rem 5.3rem 8rem;
  padding: 3.5rem;
  border-radius: 15px;
}
.section5 img{
  background-color: #EAEBF2;
  padding: 6rem 2rem;
  border-radius: 7px;
}
.section5 .text{
  margin: 0rem 6rem 0rem 3rem;
}
.section5 h4{
  font-size: 36px;
  color: #FFFFFF;
  font-weight: 600;
  margin: 0rem;
}
.section5 p{
  color: #FEFBFB;
  font-size: 18px;
  font-weight:400;
  margin: 2.1rem 0rem;
}
.section5 button{
  color: #2F3C7E;
  font-size: 14px;
  font-weight: 400;
  padding: 12px 24px;
  height: 44px;
  width: 160px;
  border-radius: 8px;
  border: none;
}
footer{
  background-color: #D5D8E5;
  padding: 4rem 4rem 2rem 6rem;
}
footer .ftr-top{
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  padding-bottom: 3rem;
}
footer .ftr-rt{
  display: flex;
  justify-content: space-around;
}
footer h5, h6{
  color: #2F3C7E;
  margin:0 ;
}
footer h5{
  font-size: 30px;
  font-weight: 600;
}
footer h6{
  font-size: 24px;
  font-weight: 600;
}
footer #getintouch{
  color: #2F3C7E;
  font-size: 14.5px;
  font-weight: 600;
}
.ftr-top .ftr-lt input{
  height: 40px;
  width: 280px;
  border: 1px solid #8C8C8D;
  border-radius: 4px;
  padding: 0px, 12px, 0px, 12px;
}
::placeholder{
  color: #8C8C8D;
  font-family: Inter;
  font-size: 14.5px;
  font-weight: 400;
  line-height: 24px;
}
footer p{
  color: #525D93;
  font-size: 14.5px;
  font-weight: 400;
}
.copyright{
  display: flex;
  align-items: center;
}
.copyright img{
  width: 1rem;
  height: 1rem;
  margin-right: 5px;
}
footer .copyright p{
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
}
@media (max-width:1080px){
  .section1{
    padding-inline: 10rem;
  }
  .section3 .btm{
    margin: 0rem 5rem;
}
@media (max-width:820px){
  .section1{
    padding-inline: 8rem;
  }
  .brands{
    padding-inline: 1rem;
  }
  .section2{
    padding: 2rem 2rem 2rem 3rem;
  }
  .section3{
    padding: 0rem 0rem 2rem;
    margin-bottom: 3rem;
  }
  .section3 h4{
    font-size: 30px;
  }
  .section3 .btm{
    margin: 0rem 3rem;
  }
  .section4{
    margin: 4rem 3rem;
    padding: 1rem 1rem 2rem;
  }
  .section4 h4{
    font-size: 30px;
  }
  .section4 .comnt{
  margin-bottom: 3rem;
  }
  .section4 .comments div{
    margin-right: 1rem;
  }
  .section5{
    margin: 4rem 3rem 8rem;
    padding: 3.5rem;
    border-radius: 15px;
  }
  .section5 img{
    background-color: #EAEBF2;
    padding: 6rem 2rem;
    border-radius: 7px;
  }
  .section5 .text{
    margin: 0rem 2rem;
  }
  .section5 h4{
    font-size: 24px;
  }
  .section5 p{
    font-size: 16px;
  }
  footer{
    padding: 2rem;
  }
  footer .ftr-top{
    grid-template-columns: 1fr 1.5fr;
    padding-bottom:1rem;
  }
  footer p{
    font-size: 15px;
  }
}
@media (max-width:600px){
  header{
    height: 40px;
  }
  header img{
    max-width: 5rem;
  }
  header .links{
    justify-content: space-around;
    width: 50%;
  }
  header .links a{
    font-size: 8px;
    line-height: 70px;
  }
  header button{
    height: 30px;
    width: 50px;
    padding: 6px;
    font-size: 10px;
  }
  .section1{
    padding: 0rem 1.5rem;
    justify-content: center;
  }
  .section1 h2{
    font-size: 35px;
    font-weight: 600;
    line-height: 50px;
    margin: 1rem 0rem;
  }
  .section1 p{
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  }
  #sign-in{
    display: none;
  }
  .section1 .tick{
    margin-inline: 1rem .3rem;
    width: 1rem;
  }
  .brands{
    display: none;
  }
  .section2{
    padding: 1rem;
  }
  .section2 .whatWeOffer{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-left: 0.5rem;
  }
  .section2 h4{
    font-size: 24px;
    font-weight: 600;
    margin: 0rem 0.5rem 0.3rem;
  }
  .whyFavipro{
    display: flex;
    flex-direction: column;
  }
  .whyFavipro div{
    margin: 1rem 0.5rem;
    padding: 1.5rem;
    position: relative;
  }
  .whyFavipro h6{
    font-size: 20px;
    font-weight: 600;
    margin: 1rem 0rem;
  }
  .whyFavipro p{
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 0.5rem;
  }
  .whyFavipro a{
    display: none;
  }
  .section3{
    background-color:#FAFAFA;
    padding: 1rem;
    margin-bottom: 0rem;
  }
  .section3 .top{
    margin-inline: 1rem -1rem;
  }
  .section3 .top img{
    margin: 0rem 1rem -3.5rem;
    width: 1.4rem;
  }
  .section3 h4{
    font-size: 20px;
    margin-bottom: 0rem;
  }
  .section3 .top p{
    line-height: 20px;
  }
  .section3 h6{
    font-size: 17px;
    font-weight: 600;
    margin: .6rem 0rem;
  }
  .section3 p{
    margin-top: 0rem;
    font-size: 16px;
    line-height: 20px;
  }
  .section3 .btm{
    margin: 0.2rem .5rem;
  }
  .section3 .rectangle{
    display: flex;
    align-items: center;
    box-shadow: 0px 6px 9px rgb(233, 229, 229);
    border-radius: 0.3rem;
    padding: .1rem;
    margin-bottom: 1rem;
  }
  .section3 .num{
    padding: 0.6rem;
    margin: 0rem 0.5rem;
  }
  .section4{
    margin: 0rem 1rem;
    padding: 1.5rem 1rem 2rem;
    border-radius: 1rem;
    background-color: #D5D8E5;
  }
  .section4 #wps{
    font-size: 17.5px;
    font-weight: 500;
  }
  .section4 h4{
    color: #2F3C7E;
    font-size: 25px;
    font-weight: 600;
    margin: 0 0 0.5rem;
  }
  .section4 .comnt{
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 3rem;
  }
  .section4 .comments{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  .section4 .comments div{
    margin: 1rem 0rem;
    padding: 1rem;
    border-radius: 0.5rem;
    position: relative;
  }
  .section4 .comments #user{
    position: absolute;
    bottom: 0.2rem;
  }
  .section4 .comments #name{
    font-size: 16px;
    font-weight: 500;
    margin: 0rem;
  }
  .section4 .comments #role{
    font-size: 14px;
    line-height: 1px;
  }
  .navigate{
    margin: 0rem;
  }
  .navigate .dots img{
    display: none;
  }
  .navigate .point img{
    margin-left: 1.5rem;
  }
  .section5{
    display: flex;
    flex-direction: column;
    margin: 2rem 1rem;
    padding: 1rem;
    border-radius: 15px;
  }
  .section5 img{
    display: none;
  }
  .section5 .text{
    margin: 1rem;
  }
  .section5 h4{
    line-height: 36px;
    font-size: 24px;
  }
  .section5 p{
    font-size: 18px;
    margin: 1rem 0rem;
  }
  .section5 button{
    font-size: 14px;
    padding: 12px 10px;
    width: 100px;
  }
  footer{
    background-color: #D5D8E5;
    padding: 2rem 2rem;
    margin: 0;
  }
  footer .ftr-top{
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
  }
  footer .ftr-rt{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
  }
  footer h5, h6{
    color: #2F3C7E;
    margin:0 ;
  }
  footer h5{
    font-size: 30px;
    font-weight: 600;
  }
  footer h6{
    font-size: 24px;
    font-weight: 600;
  }
  footer #getintouch{
    color: #2F3C7E;
    font-size: 14.5px;
    font-weight: 600;
  }
  .ftr-top .ftr-lt input{
    height: 40px;
    width: 320px;
    border: 1px solid #8C8C8D;
    border-radius: 4px;
    margin-bottom: 1rem;
    padding: 0px, 12px;
  }
  ::placeholder{
    font-size: 14.5px;
    font-weight: 400;
    line-height: 24px;
  }
  footer p{
    color: #525D93;
    font-size: 14.5px;
    font-weight: 400;
  }
  .copyright{
    display: flex;
    align-items: center;
  }
  .copyright img{
    width: 1rem;
    height: 1rem;
    margin-right: 5px;
  }
  footer .copyright p{
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
  }
}
@media (max-width:375px){
    .section1{
    padding: 0rem 0.8rem;
  }
  .section1 h2{
    font-size: 30px;
  }
  .section1 p{
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  }
  .section1 .tick{
    margin-inline: .5rem .1rem;
    width: 1rem;
  }
  .section4 h4{
    font-size: 22px;
  }
  footer input{
    width: 200px;
  }
  .ftr-top .ftr-lt input{
    width: 290px;
  }
}