@import url('https://fonts.googleapis.com/css2?family=Inter:ital@1&display=swap');

        
    body{
        padding: 0;
        margin: 0;
        background-color: white;
        font-family: Inter;
        box-sizing: border-box;
        justify-content: center;
    }
    
    .welcome-back-form{
    width: 370px;
   box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
   background: #fff;
   padding: 20px;
    margin: 8% auto 0;
    text-align: left;
    border: none;
    border-radius: 10px;}
    .welcome{
        text-align: left;
    align-items: left;
    padding-left: 4px;
    padding-right: 100px;}
    h1{
    padding-bottom: 7px;
    margin-bottom: 6px;
    font-weight: bolder;

}
.ptag{
    margin-top: -10px;
    font-size: smaller;
    font: 10px;
}
.uil-google{
    color: black;
}
.google-button{
    background-color: white;
    color: blue;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 16px;
    max-width: 98%;
    width: 98%;
    border: 0.1px solid rgb(10, 10, 134);
    border-radius:6px;
    cursor: pointer;}
    .or{
    margin: -19px auto 10px ;
    width: 20px;
    padding: 0;
    padding-left: 4px;
    background: white;
}
#email{
    padding-bottom: 5px;
   
}
 #box1{
    align-items: left;
    max-width: 85%;
    width: 85%;
    border: 0.5px solid black;
    border-radius: 5px;
    margin-top: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 30px;
    text-align: left;
    padding-left: 25px;
    padding: 10px;
    padding-left: 36px;
}
.email::before{
    position: absolute;
    
    content:url(/envelope-solid.svg) ;
    width: 20px;
    height: 20px;
   
    margin: 33px 305px 1px 10px;
    color: white;}
.password::before{
    position: absolute;
   
    content:url(/lock-solid.svg) ;
    width: 20px;
    height: 20px;
   
    margin: 33px 305px 1px 10px;
    color: white;
}
.passwor::br{
    position: absolute;
    content: url(/eye-solid.svg);
    width: 20px;
    height: 20px;
    margin: 10px 1px;
    background-color: red;
}
#box2{
    align-items: left;
    max-width: 85%;
    width: 85%;
    border: 0.5px solid black;
    border-radius: 5px;
    margin-top: 7px;
    padding-top: 2px;
   
    text-align: left;
    padding-left: 25px;
    padding: 10px;
    padding-left: 36px;
    margin-left: 0;
}
.forgotpass{
    margin-top: 0;
    padding-top: 10px;
    padding: 5px;
    margin: 0 0 25px 231px;
  
}
.forgotpass a{
    font-size: 15px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.sign{
    max-width: 100%;
    width: 100%;
    background-color: #040f4ec9;
   
    color: white;
    
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}
.sign a{
    color: white;
}
.new{
    padding: 5px auto;
    text-align: center;
    padding: 0;
    margin: 5px 50px 10px 50px;
}


@media(max-width:520px){
    .welcome-back-form{
        width: 80%;
    }
    .forgotpass{
    margin-top: 0;
    padding-top: 10px;
    padding: 3px;
        margin: 0 0 25px 215px;
    }
  
    
   
        }