@import url('https://fonts.googleapis.com/css2?family=Inter:ital@1&display=swap');

        
    body{
        padding: 0;
        margin: 0;
        max-width: 100%;
        max-height: 100vh;
        background-color: white;
        font-family:'Inter', sans-serif;
        box-sizing: border-box;
        /* justify-content: center; */
        background-image: url(/background.svg);
    }
    
    form{
        height:80%;
    }
    .main_div{
    width: 370px;
   box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
   background: #fff;
   padding: 15px 20px 20px 20px;
    margin: 8% auto 0;
    text-align: left;
    border: none;
    border-radius: 10px;
}
/* style for create an account*/
    .welcome{
        text-align: left;
    align-items: left;
    padding-left: 4px;
    padding-right: 100px;
}

    h1{
    margin-bottom: 4px;
    font-size: 23px;
    font-weight: bolder;
padding-bottom: 10px;
    
}

#ptag{
    margin-top: -10px;
    font-size: smaller;
    font: 10px;
}
.uil-google{
    color: black;
}
.button btn{
    font-size: 17px;
    margin-left: 0;
    padding-left: 0;
}


.img btn{
    padding: 0;
    margin: 0;
}


.btn a{
    font-size: 30px;
}

.google-button{
    background-color: white;
    color: blue;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 16px;
    max-width: 98%;
    width: 98%;
    border: 0.1px solid rgb(10, 10, 134);
    border-radius:6px;
    cursor: pointer;
}

/* styles for the "or" with two horizontal lines*/
    .hr{
    margin: -19px auto 10px ;
    width: 20px;
    padding: 0;
    padding-left: 4px;
    background: white;
}

/*the label for "choose a username" and "username or email"*/
.label1{
    padding-bottom: 5px;
   
}
 
.place_holder1{
    align-items: left;
    max-width: 85%;
    width: 85%;
    border: 0.5px solid black;
    border-radius: 5px;
    margin-top: 7px;
    padding-top: 2px;
    padding-bottom: 0px;
    margin-bottom: 15px;
    text-align: left;
    padding-left: 25px;
    padding: 10px;
    padding-left: 36px;
}
.email::before{
    position: absolute;
    
    content:url(/Images/envelope-solid.svg) ;
    width: 20px;
    height: 20px;
   
    margin: 33px 305px 1px 10px;
    color: white;
}


    .username::before{
        position: absolute;
        
        content:url(/Images/user.svg) ;
        width: 20px;
        height: 20px;
       
        margin: 33px 305px 1px 10px;
        color: white;}
    
.password::before{
    position: absolute;
   
    content:url(/Images/lock-solid.svg) ;
    width: 20px;
    height: 20px;
   
    margin: 33px 305px 1px 10px;
    color: white;
}
.passwor::br{
    position: absolute;
    content: url(/Images/orig_eye.svg);
    width: 20px;
    height: 20px;
    margin: 10px 1px;
}
.email{
    margin-top: 5px;
    padding-bottom: 0px;
    margin-bottom:0px ;
}
#box2{
    align-items: left;
    max-width: 85%;
    width: 85%;
    border: 0.5px solid black;
    border-radius: 5px;
    margin-top: 7px;
    padding-top: 2px;
   
    text-align: left;
    padding-left: 25px;
    padding: 10px;
    padding-left: 36px;
    margin-left: 0;
}
.forgotpass{
    margin-top: 0;
    padding-top: 10px;
    padding: 5px;
    margin: 0 0 25px 231px;
  
}
.forgotpass a{
    font-size: 15px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.sign{
    max-width: 100%;
    width: 100%;
    background-color: #040f4ec9;
   border:none;
    color: white;
    
    border-radius: 5px;
    margin-top: 30px;
    padding: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}
.sign a{
    color: white;
}
.new{
    padding: 5px 0;
    text-align: center;
    padding: 0;
    margin: 5px 50px 5px 0px;
    font-size: 12px;
}
.new a{
    margin: 0;
    padding: 0;
}
.new .pru{
    text-align: center;
    margin-left:50px ;
    padding-right: 20px;
    margin-top: 0;
    padding-top: 0;
    font-size: 12px;
    margin: 5px 50px 5px 0px;
    
}

@media(max-width:568px){
    .welcome-back-form{
        width: 80%;
    }
.none{
    margin-top: 0;
    padding-top: 10px;
    padding: 3px;
        margin: 0px 0px 25px 215px;
    
    }
}
    @media(max-width:440px){
        .welcome-back-form{
            width: 50%;
        }
        .forgotpass{
            margin-left: 0;
            padding-left: 0;
        }
    }
  
    
   
        
