@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Inter", sans-serif;
}

.container {
  width: min(100vw, 100%);
  min-height: 100vh;
  background-color: #fff;
  display: grid;
  grid-template-columns: 20% 80%;
}
@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
}

.sidebar {
  background: #19191B;
  padding: 1.6rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar span img {
  width: 18px;
}
@media screen and (max-width: 768px) {
  .sidebar {
    position: fixed;
    height: max(100vh, 100%);
    width: clamp(180px, 40%, 300px);
    top: 0;
    left: 0;
    bottom: 0;
    transform: translateX(-100%);
    transition: transform ease-in 0.3s;
  }
}

.open {
  transform: translateX(0);
}

.logo {
  padding: 0 1.6rem;
}
.logo a {
  color: #fff;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  position: relative;
}
.nav .close {
  position: absolute;
  right: 1.6rem;
  color: #f5f5f5;
  cursor: pointer;
  overflow: visible;
  display: none;
}
@media screen and (max-width: 768px) {
  .nav .close {
    display: inline-block;
  }
}
.nav .close h3 {
  font-weight: 300;
}
.nav-links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.nav-links_link {
  padding: 0 1.6rem;
  position: relative;
}
.nav-links_link:hover::before, .nav-links_link .active::before {
  width: 3px;
  height: 100%;
  border-radius: 0 0.8rem 0.8rem 0;
  position: absolute;
  content: "";
  background: #fff;
  left: 0;
}
.nav-links_link a {
  display: flex;
  align-items: center;
  gap: 0.89rem;
  color: #B2B2B3;
}
.nav-links_link a:hover {
  color: #f5f5f5;
}

.logout {
  display: flex;
  align-items: flex-start;
  gap: 0.6rem;
  color: #fff;
  cursor: pointer;
  padding: 1.6rem;
}

.main-content header {
  background: #F0F0F0;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .main-content header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.5rem;
  }
}
.main-content header .hamburger-menu {
  gap: 0.3rem;
  cursor: pointer;
  margin-left: 1.2rem;
  display: none;
  width: 3rem;
}
@media screen and (max-width: 768px) {
  .main-content header .hamburger-menu {
    display: grid;
  }
}
.main-content header .hamburger-menu .line {
  height: 2px;
  width: 1.2rem;
  background: #333;
}
.main-content header .user {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  margin-left: 0.5rem;
}

.main-generate {
  overflow: visible;
}
@media screen and (max-width: 768px) {
  .main-generate {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
  .main-generate .generate-menu {
    align-self: flex-start;
    margin-right: 1rem;
  }
}

.generate-header {
  overflow: visible;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.9rem;
}
@media screen and (max-width: 768px) {
  .generate-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
}
.generate-header .generate {
  min-width: 13rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .generate-header .generate {
    flex-direction: column;
  }
}
.generate-header .generate div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #8C8C8D;
  font-size: 1rem;
}
.generate-header .generate div .icon {
  margin: 0 0.4rem;
}
.generate-header .generate div .current {
  color: #19191B;
}/*# sourceMappingURL=styles.css.map */